{% extends "base.html" %}
{% block title %}Things{% endblock %}
{% block main %}
    {% if things %}
        {% for thing in things %}
            <div class="col-md-4 col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">{{ thing.name }}</h5>
                    <p class="card-text">Device: {{ thing.device.name }}</p>
                    <a href="" class="btn btn-primary">Open Thing</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <br/><br/>
        <h1 style="text-align:center">Oops Looks Like You Have No Things</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Launch demo modal
        </button>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create An Thing</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Create!</button>
              </div>
            </div>
          </div>
        </div>

    {% endif %}
{% endblock %}